[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL
	branch = release-2.26.x
[submodule "SDL_mixer"]
	path = SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer
	branch = SDL2
[submodule "SDL_image"]
	path = SDL_image
	url = https://github.com/libsdl-org/SDL_image
	branch = SDL2
